/* title in section 3 and 4  */
.img-section-title, 
.our-team-title, 
.partners-title{
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    /* position */
    box-sizing: border-box;
    margin-bottom: 50px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}