:root {
  --primery-text-color: #212121;
  --additional-text-color: #ffffff;
  --paragraph-tex-color: #757575;
  --text-hover-color: #2196f3;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --background-color-additional: #2f303a;
  --background-color-special: #f5f4fa;
  --social-main-color: #afb1b8;
}

.hover-transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// ! text options //
// * header font
.topbar-navigation__link,
.topbar-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.topbar-navigation__link {
  color: var(--primery-text-color);
}
.topbar-contacts__link {
  color: var(--paragraph-tex-color);
}

// * hero font
.hero-title {
  color: var(--additional-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;


  @media screen and(min-width: 480px) {
    width: 360px;
    height: 84px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;

    width: 969px;
    height: 120px;
  }
}

.main-button {
  color: var(--additional-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

// * section font
.our-features-title,
.img-section__label,
.basement__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and(min-width: 1200px) {
    text-align: left;
  }
}

.basement__subtitle {
  color: var(--additional-text-color);
}

//* paragraph font (налаштування параграфу)
.our-features-text {
  color: var(--paragraph-tex-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.img-section__label {
  color: var(--additional-text-color);
}

//* our-team font
.our-team__subtitle {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team__text {
  color: var(--paragraph-tex-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

//* footer font
.basement-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: var(--text-hover-color);
  }
}

.basement-contacts-address {
  color: var(--additional-text-color);
}
.basement-contacts-mail,
.basement-contacts-tel {
  color: var(--footer-contact-color);
}

.basement-submit__input {
  font-style: sans-serif;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.003em;
}

// ! portfolio page ! //

// * button font
.portfolio-btn__button {
  color: var(--primery-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

// * projects font
.projects__image-overlay {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--additional-text-color);
}

.projects__image-title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__image-subtitle {
  color: var(--paragraph-tex-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
