/* =========================== HEADER (шапка сайта) ========================== */
/* header navigation options (налаштування шапки) */
.topbar {
  border-bottom: 1px solid #ececec;
}

.topbar-flex {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}



.topbar-contacts__link {
  display: flex;
  align-items: center;
}

.topbar-navigation__list,
.topbar-contacts__list {
  list-style: none;
  display: flex;
}

/* ---------------------------- header navigation ---------------------------- */
/* header navigation section options (налаштування секції навігації) */
.topbar-navigation {
  display: inline-flex;
  justify-content: center;
}

.topbar-navigation__list {
  gap: 50px;
  margin-left: 93px;
}

/* header navigation list options (налаштування списку навігації) */
.topbar-navigation__group {
  margin-top: 32px;
}

/* header navigation link options (налаштування рядків списку навігації) */
// *- налаштування тексту в variables.scss //
.topbar-navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  &:hover,
  &:focus {
    color: var(--text-hover-color);
  }
}

.active-porfolio {
  color: var(--text-hover-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -4px;
    width: 78px;
    height: 4px;
    background-color: var(--text-hover-color);
    border-radius: 2px;
  }
}

.active-main {
  color: var(--text-hover-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -3px;
    width: 48px;
    height: 4px;
    background-color: var(--text-hover-color);
    border-radius: 2px;
  }
}

/* ----------------------------- header contacts ----------------------------- */
.topbar-contacts__list {
  gap: 50px;
  margin-left: auto;
}

/* header contacts list options (налаштування списку контактів) */
.topbar-contacts__group {
  display: flex;
}

/* header contacts color and hover (налаштування контактів в шапці) */
.topbar-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  fill: var(--paragraph-tex-color);

  &:focus,
  &:hover {
    color: var(--text-hover-color);
    fill: var(--text-hover-color);
  }
}

.topbar-contacts__icon {
  margin-right: 10px;
}
