/* =========================== HEADER (шапка сайта) ========================== */
/* header navigation options (налаштування шапки) */
.topbar {
  border-bottom: 1px solid #ececec;
  display: none;

  @include tablet {
    display: contents;
  }
}

.topbar-flex {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.topbar-navigation__list {
  list-style: none;
  display: flex;
}

/* ---------------------------- header navigation ---------------------------- */
/* header navigation section options (налаштування секції навігації) */
.topbar-navigation {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    align-items: baseline;
  }
}

.topbar-navigation__list {
  gap: 50px;
  /* margin-left: 93px; */

  @include tablet {
    margin-left: 88px;
  }
  @include desktop {
    margin-left: 93px;
  }
}

/* header navigation list options (налаштування списку навігації) */
.topbar-navigation__group {
  @include desktop {
    margin-top: 32px;
  }
}

/* header navigation link options (налаштування рядків списку навігації) */
// *- налаштування тексту в variables.scss //

.topbar-navigation__link {
  position: relative;

  &:hover,
  &:focus {
    color: var(--text-hover-color);
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.active-porfolio {
  color: var(--text-hover-color);

  &::after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: -2px;
    width: 78px;
    height: 4px;
    background-color: var(--text-hover-color);
    border-radius: 2px;
    @include desktop {
      bottom: 3px;
      left: -3px;
    }
  }
}

.active-main {
  color: var(--text-hover-color);

  &::after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: -2px;
    width: 48px;
    height: 4px;
    background-color: var(--text-hover-color);
    border-radius: 2px;

    @include desktop {
      bottom: 3px;
      left: -3px;
    }
  }
}

/* ----------------------------- header contacts ----------------------------- */

/* header contacts list options (налаштування списку контактів) */
.topbar-contacts__group {
  display: flex;
  /*   margin-left: 96px; */
}

.topbar-contacts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;

  @include tablet {
    margin-left: auto;
  }

  @include desktop {
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }
}

/* header contacts color and hover (налаштування контактів в шапці) */
.topbar-contacts__link {
  display: flex;
  align-items: center;
  fill: var(--paragraph-tex-color);

  &:focus,
  &:hover {
    color: var(--text-hover-color);
    fill: var(--text-hover-color);
  }

  @include tablet {
  }

  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.topbar-contacts__icon {
  margin-right: 10px;
}
