/* -==================== our-features (текст під банером) ==================== */
.our-features {
  padding-top: 94px;
}

.our-features-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.our-features-group {
  flex-basis: calc((100% - 90px) / 4);
}

.our-icons-group {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--background-color-special);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.our-features-icon {
  fill: var(--primery-text-color);
}

// *- налаштування тексту в variables.scss //
.our-features-title,
.img-label {
  margin-bottom: 10px;
}